.contentAlign{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: inline-block;
    background: #fff;
    padding: 60px 20px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  h1{
      text-align: center;
      font-size: 26px;
      font-weight: 570;
      color: #673AB7;
  }

h2{
    text-align: center;
}

h3{
    text-align: center;
    font-weight: 550;
}


hr{
    background-color: #673AB7;
}

.example-full-width {
    width: 100%;
  }

.mat-form-field {
    padding: 10px 25px;
}
button{
    text-align: center;
}

.mat-form-field label {
    font-size: 20px;
  }

.cent{
    text-align: center;
    padding-top: 20px;
}

.resend{
    text-align: left;
    width: 100%;
    text-decoration: underline;
    cursor: pointer;
    color: cornflowerblue;
    margin-top: 30px;
  }
  a{
    padding: 10px 25px;
  }

  .purple{
      background-color: #673AB7;
  }

  .light{
      color: #fff;
      font-size: 44px;
      font-weight: 600;
      margin-top: 50%;
  }

  .lightt{
    color: #fff;
  }