
h2{
  font-size: 23px;
  margin-top: 40px;
}

.example-full-width {
  width: 100%;

}
.example-icon {
	padding: 0 14px;
  }
  
  .example-spacer {
	flex: 1 1 auto;
  }


.mat-chip{
	padding: 5px;
}
.mat-card{
	font-weight: 550;
}
.nav-item {
	padding-left: 5px;
}

.nav-link {
	color: #000;
}

.space{
	margin-right: 15px;
}
.spac{
	padding-right: 15px;
}
.nav-item{
	background-color: #f2f2f2;
}



@media only screen and (max-width: 768px) 
{

}