<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>EVENTZ 360</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<!-----------Section 1 ends----------->
<mat-card>Home > Account > Event Name <mat-chip color="accent" selected>Draft</mat-chip></mat-card>
<!-----------Section 2 ends----------->

<div class="row">
  <div class="col-md-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/setup"> <span class="glyphicon glyphicon-tasks space"></span><span matBadge="4" matBadgeOverlap="true" class="spac">Setup Guide</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="glyphicon glyphicon-briefcase space"></span> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="glyphicon glyphicon-qrcode space"> </span>Tickets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="glyphicon glyphicon-list-alt space"></span> Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <span class="glyphicon glyphicon-user space"></span>Attendees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="glyphicon glyphicon-envelope space"></span> Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="glyphicon glyphicon-file space"></span>Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="glyphicon glyphicon-cog space"></span> Settings</a>
      </li>
      <li class="nav-item">
        <h4 class="nav-link">FEATURES</h4>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <span class="glyphicon glyphicon-user space"></span>Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="glyphicon glyphicon-envelope space"></span> Check-In Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="glyphicon glyphicon-file space"></span>Discount Codes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="glyphicon glyphicon-cog space"></span> Q & A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="glyphicon glyphicon-briefcase space"></span>Waiting lists</a>
      </li>

    </ul>
  </div>


<!-----------Side Navbar ends----------->


<div class="col-md-10">
  <router-outlet></router-outlet>
</div>
</div>