<section id="new">
    <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 cards">
          <div class="card">
      <div class="card-header"><img src="../../assets/img1.png"></div>
      <div class="card-body">
        <h2>Create a new account</h2><hr width="25%">
        <p>An account is simply a group of events.</p>
        <p>For each account you can set up billing, team members and payment options.</p>
        <p>You can create as many as you need.</p>
       
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Account Name</mat-label>
          <input matInput placeholder="Enter account name">
          <mat-hint>cant be blank</mat-hint>
        </mat-form-field>

           <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">https://360eventz.com/</span>
            </div>
            <input type="text" class="form-control" id="usr" name="username">
          </div>
      
           <div class="form-group">
            <label for="usr">Where are you based</label>
             <select name="cars" class="custom-select mb-3">
            <option selected>Select option</option>
            <option value="volvo">Tamil Nadu</option>
            <option value="fiat">Kerala</option>
            <option value="audi">Maharastra</option>
          </select>
          </div>
         <div class="row">
          <div class="col-md-4"><button type="button" class="btn bolt">Cancel</button></div>
          <div class="col-md-2"></div>
          <div class="col-md-6"><button type="button" class="btn btn-outline-primary">Create your account</button></div>
        </div></div> </div></div>
  <div class="col-md-3"></div></div></div></section>
<!---------------------------1st paart over ------------------------>
  <section id="new">
    <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 cards">
          <div class="card">
      <div class="card-header"><img src="../../assets/img1.png"></div>
      <div class="card-body">
        <h2>Name your event</h2><hr width="25%">
        <p>This event will be added to the "above created account" account</p>
        
        <a href=""> <p>Change account</p> </a>
       
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Event Name</mat-label>
          <input matInput placeholder="Enter event name">
          <mat-hint>cant be blank</mat-hint>
        </mat-form-field>


           <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">https://360eventz.com/Account Name/</span>
            </div>
            <input type="text" class="form-control" id="usr" name="username">
          </div>
      
           <br>
         <div class="row">
          <div class="col-md-7"></div>
          <div class="col-md-5"><button type="button" class="btn btn-outline-primary">Create new event</button></div>
          
        </div></div> </div></div>
  <div class="col-md-3"></div></div></div></section>

<!---------------------------2nd paart over ------------------------>
<section id="new">
  <div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 cards">
        <div class="card">
    <div class="card-body">
      <h2>Choose an existing account</h2><hr width="25%">
      <p>Accounts are how we group your events. One user can belong to multiple accounts</p>
     
      <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="usr">Where are you based</label>
           <select name="cars" class="custom-select mb-3">
          <option selected>Select option</option>
          <option value="volvo">Tamil Nadu</option>
          <option value="fiat">Kerala</option>
          <option value="audi">Maharastra</option>
        </select>
        </div>
      </div>
      <div class="col-md-4"> <button mat-stroked-button color="primary" class="equal">Continue</button></div></div>
    
         
       <div class="row">
        <div class="col-md-2"><button type="button" class="btn bolt">Or</button></div>
        <div class="col-md-4"></div>
        <div class="col-md-6"><button type="button" class="btn btn-outline-primary">Create a New Account</button></div>
      </div></div> </div></div>
<div class="col-md-3"></div></div></div></section>